<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <perfect-scrollbar style="max-width: 600px; max-height: 65vh;" [config]="scroll_config" class="col-xs-12">
      <ul class="list-group">
        <a class="list-group-item"
           style="cursor: pointer"
           *ngFor="let ingredient of ingredients; let i = index"
           (click)="onEditItem(i)">
          {{ ingredient.name }} ({{ ingredient.amount}})
        </a>
      </ul>
    </perfect-scrollbar>
  </div>
</div>

